#navbar ul { display: none; }
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li { float: left; }
#navbar ul li { float: none; }
#navbar ul {
  display: none;
  position: absolute;
  top: 100%;
}
#navbar li {
  float: left;
  position: relative;
}
#navbar { height: 30px; }
#navbar ul {
  display: none;
  background-color: red;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 30px;
  padding-left: 25px;
  min-width: 470px;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: green;
  text-decoration: none;
  text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #FF0000; }
#navbar ul li:hover { background-color: #FF0000; }
{
  margin: 0;
}
body{
  background ;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Gotham Pro Regular',
}
h1{
text-align: center;
margin: 0px;
color: black;
}
h2{
text-align: center;
margin: 0px;
color;
}
p{
text-align: center;
margin: 0px;